//
//  AprimeAna.xcconfig
//  AprimeAna
//
//  Created by Maurik Holtrop on 5/16/14.
//
#include "master.xcconfig"

PRODUCT_NAME = ${TARGET_NAME}
EXECUTABLE_PREFIX=lib
EXECUTABLE_EXTENSION=dylib

DYLIB_COMPATIBILITY_VERSION=0
DYLIB_CURRENT_VERSION=0

GCC_UNROLL_LOOPS = Yes

GBL=/data/HPSlcsim/GBL.r6/cpp
GBLLIBS=-L${GBL}/lib -lGBL

HEADER_SEARCH_PATHS=$(inherited) ${LCIO}/include ${GBL}/include
LIBRARY_SEARCH_PATHS=$(inherited) ${LCIOLIBDIR} ${GBL}/lib

// To find the other libraries
LD_RUNPATH_SEARCH_PATHS=${LCIOLIBDIR}

OTHER_LDFLAGS= $(inherited) ${LCIOLIBS}

//For Dictionary generation. This is clumsy to pass info to dict generation step
ROOT_DICT_NAME_BASE=HpsEvent
//ROOT_DICT_HDRS_DIR=${DSTROOT}/hps-dst/include/hps_event
ROOT_DICT_HDRS_DIR=/Users/maurik/Documents/Analysis/HPS_Analysis/hps-dst/include/hps_event
ROOT_DICT_HDRS=CalorimeterHit.h Cluster.h EcalCluster.h EcalHit.h GblStripData.h GblTrack.h GblTrackData.h HpsEvent.h HpsMCParticle.h HpsParticle.h  MCParticle.h SvtHit.h SvtTrack.h

DYLIB_COMPATIBILITY_VERSION=0
DYLIB_CURRENT_VERSION=0

